make-scenario.json
{
  "name": "XaraBuild — Full Project Intake Pipeline",
  "flow": [
    {
      "id": 1,
      "module": "gateway:CustomWebHook",
      "version": 1,
      "metadata": { "designer": { "x": 0, "y": 0 } },
      "parameters": { "hook": "obtvxaryj22esq6fozidejib2eazqlc2", "maxResults": 1 }
    },
    {
      "id": 2,
      "module": "trello:createCard",
      "version": 1,
      "metadata": { "designer": { "x": 300, "y": 0 } },
      "mapper": {
        "boardId": "REPLACE_WITH_TRELLO_BOARD_ID",
        "listId": "REPLACE_WITH_TRELLO_INCOMING_LIST_ID",
        "name": "🆕 {{1.projectType}} — {{1.company}} ({{1.firstName}} {{1.lastName}})",
        "desc": "## Client Details\n**Name:** {{1.firstName}} {{1.lastName}}\n**Email:** {{1.email}}\n**Company:** {{1.company}}\n**WhatsApp:** {{1.whatsapp}}\n\n## Project\n**Type:** {{1.projectType}}\n**Frontend:** {{1.frontend}}\n**Backend:** {{1.backend}}\n**Timeline:** {{1.timeline}}\n**Budget:** {{1.budget}}\n**Has PRD:** {{1.hasPRD}}\n**Needs NDA:** {{1.needNDA}}\n\n## Description\n{{1.features}}\n\n## Extras\n{{1.extras}}\n\n---\n*Submitted: {{1.submittedAt}}*",
        "pos": "top",
        "due": "",
        "labelIds": []
      }
    },
    {
      "id": 3,
      "module": "trello:createChecklist",
      "version": 1,
      "metadata": { "designer": { "x": 600, "y": 0 } },
      "mapper": {
        "cardId": "{{2.id}}",
        "name": "Delivery Checklist"
      }
    },
    {
      "id": 4,
      "module": "trello:createChecklistItem",
      "version": 1,
      "metadata": { "designer": { "x": 900, "y": -300 } },
      "mapper": { "checklistId": "{{3.id}}", "name": "✉️ Send proposal to client", "checked": false }
    },
    {
      "id": 5,
      "module": "trello:createChecklistItem",
      "version": 1,
      "metadata": { "designer": { "x": 900, "y": -200 } },
      "mapper": { "checklistId": "{{3.id}}", "name": "📄 Generate / review PRD", "checked": false }
    },
    {
      "id": 6,
      "module": "trello:createChecklistItem",
      "version": 1,
      "metadata": { "designer": { "x": 900, "y": -100 } },
      "mapper": { "checklistId": "{{3.id}}", "name": "🔐 Send NDA (if requested)", "checked": false }
    },
    {
      "id": 7,
      "module": "trello:createChecklistItem",
      "version": 1,
      "metadata": { "designer": { "x": 900, "y": 0 } },
      "mapper": { "checklistId": "{{3.id}}", "name": "✅ Client signs off on PRD", "checked": false }
    },
    {
      "id": 8,
      "module": "trello:createChecklistItem",
      "version": 1,
      "metadata": { "designer": { "x": 900, "y": 100 } },
      "mapper": { "checklistId": "{{3.id}}", "name": "🐙 Set up GitHub repo", "checked": false }
    },
    {
      "id": 9,
      "module": "trello:createChecklistItem",
      "version": 1,
      "metadata": { "designer": { "x": 900, "y": 200 } },
      "mapper": { "checklistId": "{{3.id}}", "name": "🎨 Design wireframes", "checked": false }
    },
    {
      "id": 10,
      "module": "trello:createChecklistItem",
      "version": 1,
      "metadata": { "designer": { "x": 900, "y": 300 } },
      "mapper": { "checklistId": "{{3.id}}", "name": "🛠️ Build MVP", "checked": false }
    },
    {
      "id": 11,
      "module": "trello:createChecklistItem",
      "version": 1,
      "metadata": { "designer": { "x": 900, "y": 400 } },
      "mapper": { "checklistId": "{{3.id}}", "name": "🧪 QA & testing", "checked": false }
    },
    {
      "id": 12,
      "module": "trello:createChecklistItem",
      "version": 1,
      "metadata": { "designer": { "x": 900, "y": 500 } },
      "mapper": { "checklistId": "{{3.id}}", "name": "👁️ Client review & feedback", "checked": false }
    },
    {
      "id": 13,
      "module": "trello:createChecklistItem",
      "version": 1,
      "metadata": { "designer": { "x": 900, "y": 600 } },
      "mapper": { "checklistId": "{{3.id}}", "name": "🚀 Deploy to production", "checked": false }
    },
    {
      "id": 14,
      "module": "trello:createChecklistItem",
      "version": 1,
      "metadata": { "designer": { "x": 900, "y": 700 } },
      "mapper": { "checklistId": "{{3.id}}", "name": "📦 Full repo & IP handover", "checked": false }
    },
    {
      "id": 15,
      "module": "slack:postMessage",
      "version": 1,
      "metadata": { "designer": { "x": 300, "y": 300 } },
      "mapper": {
        "channelId": "REPLACE_WITH_SLACK_CHANNEL_ID",
        "text": "🆕 *New Project Brief — XaraBuild*",
        "blocks": "[{\"type\":\"header\",\"text\":{\"type\":\"plain_text\",\"text\":\"🆕 New Project Brief — XaraBuild\",\"emoji\":true}},{\"type\":\"divider\"},{\"type\":\"section\",\"fields\":[{\"type\":\"mrkdwn\",\"text\":\"*Client:*\\n{{1.firstName}} {{1.lastName}}\"},{\"type\":\"mrkdwn\",\"text\":\"*Company:*\\n{{1.company}}\"},{\"type\":\"mrkdwn\",\"text\":\"*Project:*\\n{{1.projectType}}\"},{\"type\":\"mrkdwn\",\"text\":\"*Timeline:*\\n{{1.timeline}}\"},{\"type\":\"mrkdwn\",\"text\":\"*Budget:*\\n{{1.budget}}\"},{\"type\":\"mrkdwn\",\"text\":\"*Email:*\\n{{1.email}}\"}]},{\"type\":\"section\",\"text\":{\"type\":\"mrkdwn\",\"text\":\"*Features:*\\n{{1.features}}\"}},{\"type\":\"section\",\"fields\":[{\"type\":\"mrkdwn\",\"text\":\"*Has PRD:* {{1.hasPRD}}\"},{\"type\":\"mrkdwn\",\"text\":\"*Needs NDA:* {{1.needNDA}}\"}]},{\"type\":\"actions\",\"elements\":[{\"type\":\"button\",\"style\":\"primary\",\"text\":{\"type\":\"plain_text\",\"text\":\"View Trello Card →\"},\"url\":\"{{2.shortUrl}}\"}]}]"
      }
    },
    {
      "id": 16,
      "module": "gmail:sendEmail",
      "version": 1,
      "metadata": { "designer": { "x": 300, "y": 600 } },
      "mapper": {
        "to": "{{1.email}}",
        "subject": "✅ Project Brief Received — XaraBuild",
        "content": "<div style=\"font-family:'DM Sans',Arial,sans-serif;max-width:560px;margin:0 auto;color:#0D1117\"><div style=\"background:#1A56FF;padding:2rem;border-radius:12px 12px 0 0;text-align:center\"><h1 style=\"color:#fff;font-size:1.4rem;margin:0;font-weight:800\">XaraBuild</h1><p style=\"color:rgba(255,255,255,.7);margin:.4rem 0 0;font-size:.85rem\">Senior-Led App Factory</p></div><div style=\"background:#fff;padding:2rem;border:1px solid #E2E5EB;border-top:none;border-radius:0 0 12px 12px\"><h2 style=\"font-size:1.1rem;margin:0 0 .5rem\">Hi {{1.firstName}},</h2><p style=\"color:#6B7280;margin:0 0 1.5rem;font-size:.9rem\">We've received your project brief. A senior team member will review it and respond within 24 hours.</p><table style=\"width:100%;border-collapse:collapse;font-size:.88rem\"><tr style=\"background:#F7F8FA\"><td style=\"padding:.55rem 1rem;font-weight:600;border:1px solid #E2E5EB;width:38%\">Project Type</td><td style=\"padding:.55rem 1rem;border:1px solid #E2E5EB\">{{1.projectType}}</td></tr><tr><td style=\"padding:.55rem 1rem;font-weight:600;border:1px solid #E2E5EB\">Timeline</td><td style=\"padding:.55rem 1rem;border:1px solid #E2E5EB\">{{1.timeline}}</td></tr><tr style=\"background:#F7F8FA\"><td style=\"padding:.55rem 1rem;font-weight:600;border:1px solid #E2E5EB\">Budget</td><td style=\"padding:.55rem 1rem;border:1px solid #E2E5EB\">{{1.budget}}</td></tr><tr><td style=\"padding:.55rem 1rem;font-weight:600;border:1px solid #E2E5EB\">Company</td><td style=\"padding:.55rem 1rem;border:1px solid #E2E5EB\">{{1.company}}</td></tr></table><div style=\"background:#EBF0FF;border-radius:8px;padding:1.1rem;margin:1.4rem 0\"><p style=\"margin:0;font-size:.82rem;color:#1A56FF;font-weight:700\">⚡ What happens next</p><ul style=\"margin:.5rem 0 0;padding-left:1.2rem;color:#3D4451;font-size:.82rem\"><li>Our team reviews your brief and confirms scope</li><li>We prepare or review your PRD and get your sign-off</li><li>NDA executed if requested</li><li>Detailed proposal sent to this email within 24 hours</li></ul></div><p style=\"color:#6B7280;font-size:.82rem;margin:0\">Questions? Reply to this email or reach us at <a href=\"mailto:hello@xarabuild.dev\" style=\"color:#1A56FF\">hello@xarabuild.dev</a></p></div><p style=\"text-align:center;color:#9CA3AF;font-size:.72rem;margin-top:.9rem\">XaraBuild · xarabuild.dev</p></div>",
        "contentType": "html"
      }
    },
    {
      "id": 17,
      "module": "gmail:sendEmail",
      "version": 1,
      "metadata": { "designer": { "x": 600, "y": 600 } },
      "mapper": {
        "to": "REPLACE_WITH_YOUR_TEAM_EMAIL",
        "subject": "🆕 New Brief: {{1.projectType}} — {{1.company}} ({{1.budget}})",
        "content": "<div style=\"font-family:Arial,sans-serif;max-width:600px\"><h2 style=\"color:#1A56FF\">New Project Brief</h2><table style=\"width:100%;border-collapse:collapse;font-size:.9rem\"><tr><td style=\"padding:.5rem;font-weight:bold;background:#f5f5f5;border:1px solid #ddd\">Client</td><td style=\"padding:.5rem;border:1px solid #ddd\">{{1.firstName}} {{1.lastName}}</td></tr><tr><td style=\"padding:.5rem;font-weight:bold;background:#f5f5f5;border:1px solid #ddd\">Email</td><td style=\"padding:.5rem;border:1px solid #ddd\">{{1.email}}</td></tr><tr><td style=\"padding:.5rem;font-weight:bold;background:#f5f5f5;border:1px solid #ddd\">WhatsApp</td><td style=\"padding:.5rem;border:1px solid #ddd\">{{1.whatsapp}}</td></tr><tr><td style=\"padding:.5rem;font-weight:bold;background:#f5f5f5;border:1px solid #ddd\">Company</td><td style=\"padding:.5rem;border:1px solid #ddd\">{{1.company}}</td></tr><tr><td style=\"padding:.5rem;font-weight:bold;background:#f5f5f5;border:1px solid #ddd\">Project Type</td><td style=\"padding:.5rem;border:1px solid #ddd\">{{1.projectType}}</td></tr><tr><td style=\"padding:.5rem;font-weight:bold;background:#f5f5f5;border:1px solid #ddd\">Frontend</td><td style=\"padding:.5rem;border:1px solid #ddd\">{{1.frontend}}</td></tr><tr><td style=\"padding:.5rem;font-weight:bold;background:#f5f5f5;border:1px solid #ddd\">Backend</td><td style=\"padding:.5rem;border:1px solid #ddd\">{{1.backend}}</td></tr><tr><td style=\"padding:.5rem;font-weight:bold;background:#f5f5f5;border:1px solid #ddd\">Timeline</td><td style=\"padding:.5rem;border:1px solid #ddd\">{{1.timeline}}</td></tr><tr><td style=\"padding:.5rem;font-weight:bold;background:#f5f5f5;border:1px solid #ddd\">Budget</td><td style=\"padding:.5rem;border:1px solid #ddd\">{{1.budget}}</td></tr><tr><td style=\"padding:.5rem;font-weight:bold;background:#f5f5f5;border:1px solid #ddd\">Has PRD</td><td style=\"padding:.5rem;border:1px solid #ddd\">{{1.hasPRD}}</td></tr><tr><td style=\"padding:.5rem;font-weight:bold;background:#f5f5f5;border:1px solid #ddd\">Needs NDA</td><td style=\"padding:.5rem;border:1px solid #ddd\">{{1.needNDA}}</td></tr></table><h3>Features / Description</h3><p>{{1.features}}</p><h3>Extras</h3><p>{{1.extras}}</p><p><a href=\"{{2.shortUrl}}\" style=\"background:#1A56FF;color:#fff;padding:.5rem 1rem;border-radius:6px;text-decoration:none\">View Trello Card →</a></p></div>",
        "contentType": "html"
      }
    },
    {
      "id": 18,
      "module": "google-docs:createDocumentFromTemplate",
      "version": 1,
      "metadata": { "designer": { "x": 600, "y": 300 } },
      "mapper": {
        "templateId": "REPLACE_WITH_PRD_TEMPLATE_DOC_ID",
        "title": "PRD — {{1.company}} — {{1.projectType}} — {{formatDate(now; 'YYYY-MM-DD')}}",
        "folderId": "REPLACE_WITH_GOOGLE_DRIVE_FOLDER_ID",
        "variables": {
          "CLIENT_NAME": "{{1.firstName}} {{1.lastName}}",
          "COMPANY": "{{1.company}}",
          "EMAIL": "{{1.email}}",
          "PROJECT_TYPE": "{{1.projectType}}",
          "FRONTEND": "{{1.frontend}}",
          "BACKEND": "{{1.backend}}",
          "TIMELINE": "{{1.timeline}}",
          "BUDGET": "{{1.budget}}",
          "FEATURES": "{{1.features}}",
          "EXTRAS": "{{1.extras}}",
          "SUBMITTED_DATE": "{{formatDate(now; 'MMMM D, YYYY')}}",
          "HAS_PRD": "{{1.hasPRD}}",
          "NEEDS_NDA": "{{1.needNDA}}"
        }
      }
    },
    {
      "id": 19,
      "module": "google-docs:createDocumentFromTemplate",
      "version": 1,
      "metadata": { "designer": { "x": 900, "y": 300 } },
      "mapper": {
        "templateId": "REPLACE_WITH_NDA_TEMPLATE_DOC_ID",
        "title": "NDA — {{1.company}} — {{formatDate(now; 'YYYY-MM-DD')}}",
        "folderId": "REPLACE_WITH_GOOGLE_DRIVE_FOLDER_ID",
        "variables": {
          "CLIENT_NAME": "{{1.firstName}} {{1.lastName}}",
          "COMPANY": "{{1.company}}",
          "EMAIL": "{{1.email}}",
          "DATE": "{{formatDate(now; 'MMMM D, YYYY')}}",
          "PROJECT_TYPE": "{{1.projectType}}"
        }
      }
    }
  ],
  "metadata": {
    "instant": true,
    "version": 1,
    "scenario": {
      "roundtrips": 1,
      "maxErrors": 3,
      "autoCommit": true,
      "autoCommitTriggerLast": true,
      "sequential": false,
      "confidential": false,
      "dataloss": false,
      "dlq": false
    },
    "designer": { "orphans": [] }
  }
}
